@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body{
    padding: 0;
    margin: 0;

    .above {
        font-size: 11px;
        font-family: 'Montserrat';
        color: hsl(228, 12%, 48%);
    }

    .small {
        font-size: 14px;
        font-family: 'Montserrat';
        font-weight: 500;
        color: hsl(228, 12%, 48%);
    }

    .big{
        font-size: 29px;
        font-family: 'Fraunces';
        font-weight: 700;
    }
}

.container{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 5px;

    .card {
        display: flex;
        flex-direction: row;
        grid-column: 2/4;
        grid-row: 2/3;
        border-radius: 10px;
        overflow: auto;
        background-color: hsl(0, 0%, 100%);
        width: 480px;
        height: 320px;
        line-height: 0.59cm;
    
        .product-image {
            display: block;
            height: 100%;
            width: 50%;
        }

        .product-image-2{
            display: none;
        }

        .content{
            padding: 15px 20px 0;

            .card-product-name{
                .product-name {
                    color: hsl(212, 21%, 14%);
                }
            }

            .card-prices{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                .current-price {
                    color: hsl(158, 36%, 37%);
                }

                .old-price {
                    text-decoration: line-through;
                }
            }

            .card-button {
                display: flex;
                width: 200px;
                height: 20px;
                align-items: center;
                justify-content: center;
                padding-top: 5px;
                width: 100%;

                .btn {
                    background-color: hsl(158, 36%, 37%);
                    color: white;
                    font-size: 14px;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .container{
        .card{
            flex-direction: column;
            width: 340px;
            height: 550px;
            grid-column: 2 / 4;
            grid-row: 2;

            .product-image {
                display: none;
            }
    
            .product-image-2{
                display: block;
                width: 100%;
            }
        }
    }
    
}